.header_container{
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding:0 10%;
  border-bottom: 2px solid hsl(0, 0%, 98%);
  transition:background 500ms ease-in-out,color 1000ms ease-in-out;
    & .header_title{
      font-weight: 800;
    }
    & .header_mode{
      font-weight:600;
    }
    & .header_mode{
        cursor:pointer;
    }
}
  .dark-mode-header{
    border-color:hsl(207, 26%, 17%);
  }