.container{
    padding:0em 10%;
    background: hsl(0, 0%, 98%);
    transition:background 500ms ease-in-out,color 1000ms ease-in-out;
}
.search_container{
    padding:2em 0;
    display:flex;
    justify-content: space-between;
}
.dark-mode{
    background:hsl(207, 26%, 17%);
    color:white;
    transition:background 500ms ease-in-out,color 1000ms ease-in-out;
  }
  .dark-mode-header{
    background:#2b3945;
    transition:background 500ms ease-in-out,color 1000ms ease-in-out;
  }
  @media screen and (max-width:750px){
    .container,.search_container{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding:0;
      width:100%;
    }
    .search_container{
      margin-top:1em;
      margin-bottom:1em;
      padding:0 1em;
    }
    .search_container .search_field_container{
      margin-bottom:1em;
    }
  }